{% extends 'base.html' %}

{% block titleBlock %}
    新闻详情
{% endblock %}


{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock %}


{% block contentBlock %}
    <div class="detail_con fl">

            <h3>{{ data.news.title }}</h3>

            <div class="detail_about clearfix">
                <span class="time_souce fl">{{ data.news.create_time }} 来源: {{ data.news.source }}</span>
                <span class="comment fr">{{ data.news.comments_count }}</span>
            </div>

            {# safe: 表示新闻详情内容的安全的，需要解析输出 #}
            {{ data.news.content | safe }}

            {# 根据该新闻是否被用户收藏显示不同的样式 #}
            <a href="javascript:;" class="collected block-center" data-newsid="{{ data.news.id }}" style="display: {% if data.is_collected %} block {% else %} none {% endif %}"><span class="out">已收藏</span><span class="over">取消收藏</span></a>
            <a href="javascript:;" class="collection block-center" data-newsid="{{ data.news.id }}" style="display: {% if data.is_collected %} none {% else %} block {% endif %}">收藏</a>


            {# 根据用户的登录状态不同,显示不同的评论框 #}
            {% if data.user_info %}
                <form action="" class="comment_form" data-newsid="{{ data.news.id }}">
                    <div class="person_pic">
                        <img src="{% if data.user_info.avatar_url %} {{ data.user_info.avatar_url }} {% else %} ../../static/news/images/cat.jpg {% endif %}" alt="用户图标">
                    </div>
                    <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
                    <input type="submit" name="" value="评 论" class="comment_sub">
                </form>
            {% else %}
                {# 用户评论 #}
                <div class="comment_form_logout">
                    登录发表你的评论
                </div>
            {% endif %}


            {# 评论条数 #}
            <div class="comment_count">
                {{ data.news.commments_count }}条评论
            </div>

            {# 评论具体内容 #}
            <div class="comment_list_con">

                {% for comment in data.comments %}
                    <div class="comment_list">
                        {# 评论者头像 #}
                        <div class="person_pic fl">
                            <img src="{% if comment.user.avatar_url %} {{ comment.user.avatar_url }} {% else %} ../../static/news/images/worm.jpg {% endif %}" alt="用户图标">
                        </div>

                        {# 评论者昵称 #}
                        <div class="user_name fl">{{ comment.user.nick_name }}</div>

                        {# 评论者评论内容 #}
                        <div class="comment_text fl">
                            {{ comment.content }}
                        </div>

                        {# 根据是否为子评论来显示回复内容 #}
                        {% if comment.parent %}
                            <div class="reply_text_con fl">
                            <div class="user_name2">{{ comment.parent.user.nick_name }}</div>
                            <div class="reply_text">
                                {{ comment.parent.content }}
                            </div>
                        </div>
                        {% endif %}

                         {# 评论发布时间 #}
                        <div class="comment_time fl">{{ comment.create_time }}</div>

                        {# 点赞按钮 #}
                        <a href="javascript:;" class="comment_up
                            {# 根据是否点过赞显示不同样式的点赞按钮 #}
                            {% if comment.is_like %}
                                has_comment_up
                            {% endif %} fr"
                                data-commentid="{{ comment.id }}"
                                data-likecount="{{ comment.like_count }}"
                                data-newsid="{{ data.news.id }}">
                            {# 显示不同的数量的赞 #}
                            {% if comment.like_count > 0 %}
                                {{ comment.like_count }}
                            {% else %}
                                赞
                            {% endif %}
                        </a>

                        {# 回复评论表单 #}
                        <from class="reply_form fl" data-commentid="{{ comment.id }}" data-newsid="{{ data.news.id }}">
                            <textarea  class="reply_input"></textarea>
                            <input type="button" name="" value="回复" class="reply_sub fr">
                            <input type="reset" name="" value="取消" class="reply_cancel fr">
                        </from>
                    </div>
                {% endfor %}

            </div>


        </div>
{% endblock %}


{% block authorBlock %}
    <div class="author_card">
        <a href="#" class="author_pic"><img src="../../static/news/images/user_pic.png" alt="author_pic"></a>
        <a href="#" class="author_name">张大山</a>
        <div class="author_resume">张大山的简介,张大山</div>
        <div class="writings"><span>总篇数</span><b>23</b></div>
        <div class="follows"><span>粉丝</span><b>36</b></div>
        <a href="javascript:;" class="focus fr">关注</a>
        <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
    </div>
{% endblock %}
